body {
	text-family: "Tahoma";
	font-size:10px;
}

h3{ 
	color:blue;
	font-size:16px;
}

table {
	font-size:12px;
	text-family: "Arial";
}

th{ 
	background-color:#CCCCCC;
	color:blue;
	font-size:14px;
}

tr:nth-child(even){
		background-color:#8C8884;
}
	
tr:nth-child(odd){
		background-color:#e1dad9;
}