﻿@model M2C6_DomaciKnjizara.Models.Genre

<hr />
<h2>Edit genre</h2>
<hr />

@using (Html.BeginForm("Edit", "Genre", FormMethod.Post))
{
    <table border='1'>
        <tr>
            <th colspan='2'> Edit genre </th>
        </tr>
        <tr>
            <td align='left'>Name of genre:</td>
            <td valign='middle'>
                @Html.TextBox("Genre.Name", $"{Model.Name}")
            </td>
        </tr>
        <tr>
            <td> <input type="hidden" name="Genre.Id" value="@Model.Id"/></td>
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Edit'>
            </td>
        </tr>
    </table>
}
@Html.ActionLink("Show all genres", "Index", "Genre")