﻿@model IEnumerable<M2C5_DomaciKnjizara.Models.Book>
<hr>
<h1>Showing deleted books</h1>
<hr>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Deleted == true)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Genre.Name</td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Link for homepage", "/Index")