﻿
@{
    ViewBag.Title = "AddChapter";
}

<h2>Add Chapter</h2>

<form method="post" action="/Chapter/AddChapter">
    <table border='1'>
        <tr>
            <th colspan='2'> Add new chapter </th>
        </tr>
        <tr>
            <td align='left'>Name of chapter:</td>
            <td valign='middle'>
                <input type='text' name='ChapterName'>
            </td>
        </tr>
        <tr>
            <td align='left'>Number of pages:</td>
            <td valign='middle'>
                <input type='number' name='NumberOfPages'>
            </td>
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Add'>
            </td>
        </tr>
    </table>

</form>