﻿<hr>
<h1>Showing all chapters</h1>
<hr>
<table border='1'>
    <tr>
        <th>Chapter Name</th>
        <th>Number of pages</th>
    </tr>

    @if (ViewBag.Listaknjiga[ViewBag.id] != null)
    {

        if (ViewBag.Listaknjiga[ViewBag.id].ListaPoglavlja != null)
        {
            foreach (var item in ViewBag.Listaknjiga[ViewBag.id].ListaPoglavlja)
            {
                <tr>
                    <td>@item.ChapterName</td>
                    <td>@item.NumberOfPages</td>
                </tr>
            }
        }
    }
</table>
<a href="/Bookstore/Index"> Link for homepage</a> | 
<a href="/Bookstore/List"> Link for all books</a>