﻿@model M2C6_DomaciKnjizara.ViewModels.BookGenreViewModel

<hr />
<h1>Bookstore- Home Page</h1>
<hr />

@using (Html.BeginForm("Add", "Bookstore", FormMethod.Post))
{
    <table border='1'>
        <tr>
            <th colspan='2'> Add new book </th>
        </tr>
        <tr>
            <td align='left'>Name of book:</td>
            <td valign='middle'>
                @Html.TextBox("Book.Name")
            </td>
        </tr>
        <tr>
            <td align='left'>Price of book:</td>
            <td valign='middle'>
                <input type='number' name='Book.Price'>
            </td>
        </tr>
        <tr>
            <td align='left'>Genre of book:</td>
            <td>
                <select name='SelectedGenreId'>
                    @foreach (var item in Model.GenreList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Add'>
            </td>
        </tr>
    </table>
}

@Html.ActionLink("Show all books", "/List") |
@Html.ActionLink("Show deleted books", "/Deleted")
<br />
@Html.ActionLink("Show all genres", "Index", "Genre") |
@Html.ActionLink("Add new genre", "Add", "Genre")



