﻿@model M2C8_DomaciAutomobili.Models.TipMotora

<h2>Unesite novi tip motora</h2>
<hr />

@using (Html.BeginForm("Add", "TipMotora", FormMethod.Post))
{
    <table border="1">
        <tr>
            <th colspan="2" align="center"> Dodaj novi tip motora</th>
        </tr>
        <tr>
            <td> @Html.LabelFor(m => m.TipNaziv)</td>
            <td> @Html.EditorFor(m => m.TipNaziv)</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Add" value="Add" />
            </td>
        </tr>
    </table>
}
@Html.ValidationMessageFor(m => m.TipNaziv)

@Html.ActionLink("Home Page", "Index", "Auto") |
@Html.ActionLink("Lista tipova motora", "Index")
