body{
	font-family: Georgia,Serif;
	background-color:#e0e0e0;
	color:#f03030;
}

.Prva-strana {
	width:200px;
	text-align: justify;
    margin-right:5px;
	float: left;
	border-color: #f03030;
	border-width: 1px;
	border-style: solid;
	padding: 5px;

}

div img{
   height:200px;
    width:200px;
 }

.slika {
	float: right;
	border-color: #f03030;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.OnlyPaint {
	width: 100%;
	height: 100%;
}

.Text {
	width: 30%;
	height: 100%;
	float: left;
}

.Paint {
	width: 70%;
	height: 100%;
	display:inline-block;
}

.Photo{
	height:100%;
    width:100%; 
	vertical-align: middle;
}

