﻿@model M2C8_DomaciAutomobili.Models.TipMotora

<h2>Unesite novi tip motora</h2>
<hr />

@using (Html.BeginForm("Add", "TipMotora", FormMethod.Post))
{
    <div>
        <h4>Dodaj novi tip motora</h4>
        <div>
            <div>
                @Html.LabelFor(m => m.TipNaziv)
                @Html.EditorFor(m => m.TipNaziv)
            </div>
            <input type="submit" name="Add" value="Add" />
        </div>
    </div>
}
@Html.ValidationMessageFor(m => m.TipNaziv)

@Html.ActionLink("Home Page", "Index", "Auto") |
@Html.ActionLink("Lista tipova motora", "Index")
