﻿@model M2C8_DomaciAutomobili.Models.TipMotora

<h2>Edit tip motora</h2>

<hr />


@using (Html.BeginForm("Edit", "TipMotora", FormMethod.Post))
{
    <table border="1">
        <tr>
            <th colspan="2" align="center"> Edit tip motora</th>
        </tr>
        <tr>
            <td> @Html.LabelFor(m => m.TipNaziv)</td>
            <td> @Html.TextBox("TipMotora.TipNaziv", $"{Model.TipNaziv}")</td>
            @Html.ValidationMessageFor(m => m.TipNaziv)
        </tr>
        <tr>
            <td> <input type="hidden" name="TipMotora.TipId" value="@Model.TipId" /> </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Edit" value="Edit" />
            </td>
        </tr>
    </table>
}
@Html.ActionLink("Home Page", "Index", "Auto")
@Html.ActionLink("Dodaj novi tip motora", "Index")

