﻿@model IEnumerable<M2C8_DomaciAutomobili.Models.TipMotora>

<h2>Lista tipova motora</h2>

<hr />

<table border="1">
    <tr>
        <th> @Html.Label("Id")</th>
        <th> @Html.Label("Naziv")</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.TipId</td>
            <td> @item.TipNaziv</td>
            <td> @Html.ActionLink("Edit", $"Edit/{item.TipId}")</td>
            <td> @Html.ActionLink("Delete", $"Delete/{item.TipId}")</td>
        </tr>
    }
</table>

@Html.ActionLink("Home Page", "Index", "Auto") |
@Html.ActionLink("Dodaj novi tip motora", "Add")