﻿@model M2C8_DomaciAutomobili.ViewModel.AutoTipMotoraViewModel
<h2>Edit Automobil</h2>
<hr />
@using (Html.BeginForm("Edit", "Auto", FormMethod.Post))
{
    <table border="1">
        <tr>
            <th colspan="2" align="center"> Edit automobil</th>
        </tr>
        <tr>
            <td> @Html.LabelFor(m => m.Auto.AutoProizvodjac)</td>
            <td> @Html.EditorFor(m => m.Auto.AutoProizvodjac)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.Auto.AutoModel)</td>
            <td>  @Html.EditorFor(m => m.Auto.AutoModel)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.Auto.AutoGod)</td>
            <td>  @Html.EditorFor(m => m.Auto.AutoGod)</td>
        </tr>
        <tr>
            <td>  @Html.LabelFor(m => m.Auto.AutoKub)</td>
            <td>   @Html.EditorFor(m => m.Auto.AutoKub)</td>
        </tr>
        <tr>
            <td>   @Html.LabelFor(m => m.Auto.AutoBoja)</td>
            <td>    @Html.EditorFor(m => m.Auto.AutoBoja)</td>
        </tr>
        <tr>
            <td>   @Html.Label("Tip Motora")</td>
            <td>
                <select name="SelectedTipMotorById">
                    @foreach (var item in Model.ListTipMotora)
                    {
                        if (item.TipId == Model.Auto.TipMotora.TipId)
                        {
                            <option selected value="@item.TipId">@item.TipNaziv</option>
                        }
                        else
                        {
                            <option value="@item.TipId">@item.TipNaziv</option>
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td> <input type="hidden" name="Auto.AutoId" value="@Model.Auto.AutoId"/> </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Edit" value="Edit" />
            </td>

        </tr>

    </table>

}

@Html.ActionLink("Lista automobila", "List") |
@Html.ActionLink("Lista tipova motora", "List", "TipMotora")
