﻿@model M2C7_DomaciKnjizara.ViewModels.BookGenreViewModel

<hr />
<h1>Edit book</h1>
<hr />

@using (Html.BeginForm("Edit", "Bookstore", FormMethod.Post))
{
    <table border='1'>
        <tr>
            <th colspan='2'> Edit book </th>
        </tr>
        <tr>
            <td align='left'>Name of book:</td>
            <td valign='middle'>
                @Html.TextBox("Book.Name", $"{Model.Book.Name}")
            </td>
        </tr>
        <tr>
            <td align='left'>Price of book:</td>
            <td valign='middle'>
                <input type='number' name='Book.Price' value="@Model.Book.Price">
            </td>
        </tr>
        <tr>
            <td align='left'>Genre of book:</td>
            <td>
                <select name='SelectedGenreId'>
                    @foreach (var item in Model.GenreList)
                    {
                        if (item.Id == Model.SelectedGenreId)
                        {
                            <option selected value="@item.Id">@item.Name </option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="hidden" name="Book.Id" value="@Model.Book.Id" /></td>
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Edit'>
            </td>
        </tr>
    </table>
}

@Html.ActionLink("Show all books", "/List") |
@Html.ActionLink("Show deleted books", "/Deleted")
<br />
@Html.ActionLink("Show all genres", "Index", "Genre") |
@Html.ActionLink("Show deleted genres", "/Bookstore/Deleted") |
@Html.ActionLink("Add new genre", "Add", "Genre")



