﻿@model M2C8_DomaciKnjizara.ViewModels.BookGenreViewModel

<hr />
<h2>Add new genre</h2>
<hr />

@using (Html.BeginForm("Add", "Genre", FormMethod.Post))
{
    <table border='1'>
        <tr>
            <th colspan='2'> Add new genre </th>
        </tr>
        <tr>
            <td align='left'>Name of genre:</td>
            <td valign='middle'>
                @Html.TextBox("Genre.Name")
            </td>
            @Html.ValidationMessageFor(m => m.Genre.Name)
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Add'>
            </td>
        </tr>
    </table>
   
}
@Html.ActionLink("Show all genres", "Index", "Genre")