﻿@model M2C8_DomaciAutomobili.ViewModel.AutoTipMotoraViewModel
<h2>Kreiraj novi automobil</h2>
<hr />
@using (Html.BeginForm("Add", "Auto", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(m => m.Auto.AutoProizvodjac) <br>
            @Html.EditorFor(m => m.Auto.AutoProizvodjac)
            @Html.ValidationMessageFor(m => m.Auto.AutoProizvodjac)
        </div>
        <div>
            @Html.LabelFor(m => m.Auto.AutoModel) <br>
            @Html.EditorFor(m => m.Auto.AutoModel)
            @Html.ValidationMessageFor(m => m.Auto.AutoModel)
        </div>
        <div>
            @Html.LabelFor(m => m.Auto.AutoGod) <br>
            @Html.EditorFor(m => m.Auto.AutoGod)
            @Html.ValidationMessageFor(m => m.Auto.AutoGod)
        </div>
        <div>
            @Html.LabelFor(m => m.Auto.AutoKub) <br>
            @Html.EditorFor(m => m.Auto.AutoKub)
            @Html.ValidationMessageFor(m => m.Auto.AutoKub)
        </div>
        <div>
            @Html.LabelFor(m => m.Auto.AutoBoja) <br>
            @Html.EditorFor(m => m.Auto.AutoBoja)
            @Html.ValidationMessageFor(m => m.Auto.AutoBoja)
        </div>
        <div>
            @Html.Label("Tip Motora") <br>
            <select name="SelectedTipMotorById">
                @foreach (var item in Model.ListTipMotora)
                {
                    <option value="@item.TipId">@item.TipNaziv</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" name="Add" value="Add" />
        </div>
    </div>
}

@Html.ActionLink("Lista automobila", "Index") |
@Html.ActionLink("Lista tipova motora", "Index", "TipMotora")
