﻿@model IEnumerable<M2C8_DomaciAutomobili.Models.Auto>

<h2>Lista automobila</h2>

<hr />

<table border="1">
    <tr>
        <th> @Html.Label("AutoId")</th>
        <th> @Html.Label("Proizvodjac")</th>
        <th> @Html.Label("Model")</th>
        <th> @Html.Label("Godiste")</th>
        <th> @Html.Label("Kubikaza")</th>
        <th> @Html.Label("Boja")</th>
        <th> @Html.Label("Tip Motora")</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.AutoId</td>
            <td> @item.AutoProizvodjac</td>
            <td> @item.AutoModel</td>
            <td> @item.AutoGod</td>
            <td> @item.AutoKub</td>
            <td> @item.AutoBoja</td>
            <td> @item.TipMotora.TipNaziv</td>
            <td> @Html.ActionLink("Edit", $"Edit/{item.AutoId}")</td>
            <td> @Html.ActionLink("Delete", $"Delete/{item.AutoId}")</td>
        </tr>
    }
</table>

@Html.ActionLink("Dodaj novi automobil", "Add") |
@Html.ActionLink("Lista tipova motora", "Index","TipMotora")

