﻿@model M2C7_DomaciKnjizara.ViewModels.BookGenreViewModel

<hr />
<h1>Showing all genres</h1>
<hr />

<table border='1'>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model.GenreList)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Delete genre", "Delete", "Genre", new { id = $"{item.Id}" }, null) </td>
            <td>@Html.ActionLink("Edit genre", "Edit", "Genre", new { id = $"{item.Id}" }, null) </td>
        </tr>
    }
</table>




@Html.ActionLink("Link for homepage", "Index","Bookstore")




