﻿<hr>
<h1>Showing all books</h1>
<hr>

<form method="get" action="/Search/Sort">
    Sort by:
    <select name="BookName">
        <option value="" selected disabled hidden>Name</option>
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
    </select>
    <select name="BookPrice">
        <option value="" selected disabled hidden>Price</option>
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
    </select>
    <input type='submit' name='sort' value='Sort'>
</form>
<table border='1'>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @if (ViewBag.Listaknjiga != null)
    {
        foreach (var item in ViewBag.Listaknjiga.Values)
        {
            if (item.Deleted == false)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Genre</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Bookstore", new { id = $"{item.Id}" }, null) </td>
                    <td>@Html.ActionLink("Add chapter to the book", "Index", "Chapter", new { id = $"{item.Id}" }, null) </td>
                    <td>@Html.ActionLink("See chapter(s) of the book", "ListChapter", "Chapter", new { id = $"{item.Id}" }, null) </td>
                </tr>
            }
        }
    }


</table>
<a href="/Bookstore/Index"> Link for homepage</a>