﻿
@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>

<form method="get" action="/Search/Search">
    <input type="search" name="search" placeholder="unesite kriterijum pretrage">
    pretraga po
    <select name="criteria">
        <option value="book">nazivu knjige</option>
        <option value="chapter">nazivu poglavlja</option>
    </select>
    <input type="submit">
</form>

<a href="/Bookstore/Index"> Homepage</a>

