﻿@if (ViewBag.FoundBooks != null)
{
    <hr>
    <h5>Searhed books by name="@ViewBag.search"</h5>
    <table border='1'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Genre</th>
        </tr>

        @foreach (var item in ViewBag.FoundBooks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Genre</td>
            </tr>
        }
    </table>

}
@if (ViewBag.FoundChapters != null)
{
    <hr>
    <h5>Searhed chapters by name="@ViewBag.search"</h5>
    <table border='1'>
        <tr>
            <th>Chapter Name</th>
            <th>Number of pages</th>
        </tr>
        @foreach (var item in ViewBag.FoundChapters)
        {
            <tr>
                <td>@item.ChapterName</td>
                <td>@item.NumberOfPages</td>
            </tr>
        }
    </table>
}
<hr>
<a href="/Bookstore/Index"> Homepage</a> |
<a href="/Search/Index"> Search again</a>
<table>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>


