﻿@model IEnumerable<M2C6_DomaciKnjizara.Models.Book>
<hr>
<h1>Showing all books</h1>
<hr>

 Sort by:
@using (Html.BeginForm("Sort", "Bookstore"))
{
    <select name="BookName">
        <option value="" selected disabled hidden>Name</option>
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
    </select>
    <select name="BookPrice">
        <option value="" selected disabled hidden>Price</option>
        <option value="asc">Ascending</option>
        <option value="des">Descending</option>
    </select>
    <input type='submit' name='sort' value='Sort'>
}


<table border='1'>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Deleted == false)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Genre.Name</td>
                <td>@Html.ActionLink("Delete book", "Delete", "Bookstore", new { id = $"{item.Id}" }, null) </td>
                <td>@Html.ActionLink("Edit book", "Edit", "Bookstore", new { id = $"{item.Id}" }, null) </td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Link for homepage", "/Index")

