﻿<hr>
<h1>Showing deleted books</h1>
<hr>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @if (ViewBag.Listaknjiga != null)
    {
        foreach (var item in ViewBag.Listaknjiga.Values)
        {
            if (item.Deleted == true)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Genre</td>
                </tr>
            }
        }
    }


</table>
<a href="/Bookstore/Index"> Link for homepage</a>