﻿
@{
    ViewBag.Title = "Index";
}

<hr />
<h1>Bookstore- Home Page</h1>
<hr />
<form method="post" action="/Bookstore/Add">
    <table border='1'>
        <tr>
            <th colspan='2'> Add new book </th>
        </tr>
        <tr>
            <td align='left'>Name of book:</td>
            <td valign='middle'>
                <input type='text' name='imeknjige'>
            </td>
        </tr>
        <tr>
            <td align='left'>Price of book:</td>
            <td valign='middle'>
                <input type='number' name='cenaknjige'>
            </td>
        </tr>
        <tr>
            <td align='left'>Genre of book:</td>
            <td>
                <select name='zanrknjige'>
                    <option value='1'>Science</option>
                    <option value='2'>Comedy</option>
                    <option value='3'>Horror</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan='2' align='right'>
                <input type='submit' name='add' value='Add'>
            </td>
        </tr>
    </table>

</form>

<a href="/Bookstore/List" > Show all books</a> | 
<a href="/Bookstore/Deleted" > Show Deleted books</a> | 
<a href="/Search/Index"> Search books/chapter</a>

